.base-container{
    /* background-color: #09001A; */
    /* background-image: image('background.svg'); */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 1000px;
    backdrop-filter: blur(50px);
}
